<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - AideChain</title>
</head>
<body>
    <h1>Bienvenue sur AideChain</h1>
    <p>Un projet pour améliorer la transparence de l’aide humanitaire au Tchad.</p>

    <nav>
        <a href="{% url 'a_propos' %}">À propos</a> |
        <a href="{% url 'projet' %}">Projet</a> |
        <a href="{% url 'impact' %}">Impact</a> |
        <a href="{% url 'equipe' %}">Équipe</a> |
        <a href="{% url 'contact' %}">Contact</a>
    </nav>
</body>
</html>
